.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html, body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif !important;
  margin: 0;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
  text-align: left;
  height: 100%;
  transition: 0.5s;
  scroll-behavior: smooth;
}

.main-content {
  min-height: 53%;
}

.container {
  padding: unset !important;
}

.site-container-1240 {
  margin: auto;
  position: relative;
  max-width: 1240px !important;
  width: 100%;
  padding-right: 30px !important;
  padding-left: 30px !important;
}
@media (min-width: 992px) {
  .site-container-1240 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.site-container-1200 {
  margin: auto;
  position: relative;
  max-width: 1200px;
  width: 100%;
  padding-right: 30px !important;
  padding-left: 30px !important;
}
@media (min-width: 992px) {
  .site-container-1200 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.site-container-992 {
  margin: auto;
  position: relative;
  max-width: 992px;
  width: 100%;
  padding-right: 30px !important;
  padding-left: 30px !important;
}
@media (min-width: 992px) {
  .site-container-992 {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 30px !important;
  padding-left: 30px !important;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.row {
  margin-right: -30px;
  margin-left: -30px;
}
@media (min-width: 992px) {
  .row {
    margin-right: -15px !important;
    margin-left: -15px !important;
  }
}

.row > * {
  padding-right: 30px;
  padding-left: 30px;
}
@media (min-width: 992px) {
  .row > * {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Open Sans", sans-serif !important;
}

ol li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Open Sans", sans-serif !important;
}

@media (min-width: 992px) {
  .col-lg-5col {
    flex: 0 0 auto !important;
    width: 20% !important;
  }
}

.mr-2 {
  margin-right: 0.25rem !important;
}

.t-c-l {
  text-align: center !important;
}
@media (min-width: 992px) {
  .t-c-l {
    text-align: left !important;
  }
}

.t-c-l-md {
  text-align: center !important;
}
@media (min-width: 768px) {
  .t-c-l-md {
    text-align: left !important;
  }
}

.ml-4 {
  margin-left: 0.75rem !important;
}

.w-80 {
  width: 80% !important;
}

.primary-text {
  color: #0079C7 !important;
}

.white-text {
  color: #ffffff !important;
}

.primary-bg {
  background-color: #0079C7 !important;
}

.light-bg {
  background-color: #F4F4F4 !important;
}

.white-text {
  color: #ffffff !important;
}

.primary-link {
  color: #0079C7 !important;
  text-decoration: none;
  transition: 0.5s !important;
  font-weight: 600;
  font-size: calc(16px * 1) !important;
  line-height: calc(24px * 0.833) !important;
}
.primary-link:hover, .primary-link:active {
  color: #444444 !important;
}

.white-link {
  color: #ffffff !important;
  text-decoration: none;
  transition: 0.5s !important;
  font-weight: 600;
  font-size: calc(16px * 1) !important;
  line-height: calc(24px * 0.833) !important;
}
.white-link:hover, .white-link:active {
  color: #444444 !important;
}

.bold {
  font-weight: 600 !important;
}

.g-6, .gx-6 {
  --bs-gutter-x: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  color: unset;
}

h1,
.h1-heading {
  font-size: calc(16px * 3) !important;
  font-weight: 600;
  line-height: calc(24px * 2.16) !important;
  font-family: "Open Sans", sans-serif !important;
}

.h1-blog-heading {
  font-size: calc(16px * 2) !important;
  font-weight: 600;
  line-height: calc(24px * 1.4) !important;
  font-family: "Open Sans", sans-serif !important;
}

h2,
.h2-heading {
  font-size: calc(16px * 2.25) !important;
  font-weight: 600;
  line-height: calc(24px * 1.66) !important;
  font-family: "Open Sans", sans-serif !important;
}

h3,
.h3-heading {
  font-size: calc(16px * 1.75) !important;
  font-weight: 600;
  line-height: calc(24px * 1.5) !important;
  font-family: "Open Sans", sans-serif !important;
  padding-bottom: 10px !important;
}

span.SubHead,
h4,
.h4-heading {
  font-size: calc(16px * 1.5) !important;
  font-weight: 400;
  line-height: calc(24px * 1.166) !important;
  font-family: "Open Sans", sans-serif !important;
}

h5,
.h5-heading {
  font-size: calc(16px * 1.25) !important;
  font-weight: 400;
  line-height: calc(24px * 1.166) !important;
  font-family: "Open Sans", sans-serif !important;
}

h6,
.h6-heading {
  font-size: calc(16px * 1.125) !important;
  font-weight: 600;
  line-height: calc(24px * 1.083) !important;
  font-family: "Open Sans", sans-serif !important;
}

p {
  font-size: calc(16px * 1) !important;
  font-weight: 400;
  line-height: calc(24px * 1) !important;
  font-family: "Open Sans", sans-serif !important;
}

.nav-link {
  font-size: calc(16px * 1) !important;
  font-weight: 600;
  line-height: calc(24px * 0.9166) !important;
  font-family: "Open Sans", sans-serif !important;
}

.copyright {
  font-size: calc(16px * 0.875) !important;
  line-height: calc(24px * 0.75) !important;
}

@media (min-width: 992px) {
  h1,
  .h1-heading {
    font-size: calc(16px * 3.5) !important;
    line-height: calc(24px * 2.5) !important;
  }
  .h1-blog-heading {
    font-size: calc(16px * 3.5) !important;
    line-height: calc(24px * 2.5) !important;
  }
  h2,
  .h2-heading {
    font-size: calc(16px * 3) !important;
    line-height: calc(24px * 2.33333) !important;
  }
  h3,
  .h3-heading {
    font-size: calc(16px * 2.25) !important;
    line-height: calc(24px * 1.6666) !important;
    padding-bottom: 10px !important;
  }
  span.SubHead,
  h4,
  .h4-heading {
    font-size: calc(16px * 1.75) !important;
    line-height: calc(24px * 1.5) !important;
  }
  h5,
  .h5-heading {
    font-size: calc(16px * 1.5) !important;
    line-height: calc(24px * 1.166) !important;
  }
  h6,
  .h6-heading {
    font-size: calc(16px * 1.25) !important;
    line-height: calc(24px * 1.1666) !important;
  }
  p {
    font-size: calc(16px * 1) !important;
    line-height: calc(24px * 1) !important;
  }
  .nav-link {
    font-size: calc(16px * 1) !important;
    line-height: calc(24px * 0.9166) !important;
  }
  .copyright {
    font-size: calc(16px * 0.875) !important;
    line-height: calc(24px * 0.75) !important;
  }
}
.btn-size-lg {
  padding: 15px 40px;
  font-size: calc(16px * 1.125) !important;
  line-height: calc(24px * 1) !important;
  border-width: 3px;
  border-style: solid;
  height: 55px;
  display: inline-flex;
  align-items: center;
}

.btn-size-sm {
  padding: 7px 20px;
  font-size: calc(16px * 1) !important;
  line-height: calc(24px * 1) !important;
  border-width: 2px;
  border-style: solid;
  height: 45px;
  display: inline-flex;
  align-items: center;
}

.btn-primary {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #0079C7 !important;
  font-weight: 600 !important;
  border-radius: 50px !important;
  border-color: #0079C7;
  color: #ffffff !important;
  text-transform: capitalize;
  text-decoration: none !important;
}
.btn-primary:hover, .btn-primary:active {
  background-color: #ffffff !important;
  color: #0079C7 !important;
}

.btn-secondary {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #ffffff !important;
  font-weight: 600 !important;
  border-radius: 50px !important;
  border-color: #0079C7 !important;
  color: #0079C7 !important;
  text-transform: capitalize;
  text-decoration: none !important;
}
.btn-secondary:hover, .btn-secondary:active {
  background-color: #0079C7 !important;
  color: #ffffff !important;
}

.btn-white {
  transition: 0.5s !important;
  cursor: pointer !important;
  background-color: #ffffff !important;
  font-weight: 600 !important;
  border-radius: 50px !important;
  border-color: #ffffff;
  color: #0079C7 !important;
  text-transform: capitalize;
  text-decoration: none !important;
}
.btn-white:hover, .btn-white:active {
  background-color: #0079C7 !important;
  color: #ffffff !important;
}

.z-15 {
  z-index: 15;
  position: relative;
}

.main-navigation {
  z-index: 150;
  display: flex;
  transition: 0.6s;
  background-color: #ffffff;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #CECECE;
  height: 75px;
}
.main-navigation .nav-menu-item {
  background: transparent;
  border: none;
  padding: 0;
  transition: 0.5s !important;
}
.main-navigation .nav-menu-item a {
  display: block;
  border: none;
  background: none;
  color: #444444;
  transition: 0.5s !important;
  font-weight: 600;
  text-decoration: none;
}
.main-navigation .nav-menu-item a svg, .main-navigation .nav-menu-item a i {
  font-size: 0.7rem;
}
.main-navigation .nav-menu-item a:hover, .main-navigation .nav-menu-item a:active {
  color: #0079C7;
}
.main-navigation .nav-menu-item a:hover:after, .main-navigation .nav-menu-item a:active:after {
  transform: scaleX(1);
}
.main-navigation .nav-menu-item a:after {
  display: none;
}
.main-navigation .nav-menu-item li {
  padding: 0.35rem 1rem;
}
.main-navigation .nav-menu-item li a {
  display: block;
  border: none;
  background: none;
  color: #444444;
  transition: 0.5s !important;
  font-weight: 600;
  text-decoration: none;
}
.main-navigation .nav-menu-item li a svg, .main-navigation .nav-menu-item li a i {
  font-size: 0.7rem;
}
.main-navigation .nav-menu-item li a:hover, .main-navigation .nav-menu-item li a:active {
  color: #0079C7;
}
.main-navigation .nav-menu-item li a:hover:after, .main-navigation .nav-menu-item li a:active:after {
  transform: scaleX(1);
}
.main-navigation .nav-menu-item li a:after {
  display: none;
}
.main-navigation .nav-menu-item li:first-child {
  padding-top: 0;
}
.main-navigation .nav-menu-item:first-child {
  padding-left: 1rem;
}
.main-navigation .dropdown-menu.show {
  display: block;
  transform: translate(8px, 54px) !important;
  border-top: 0;
  border-radius: 50px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1rem;
  box-shadow: 2px 4px 9px 1px rgba(112, 112, 112, 0.2);
}

.header-logo img {
  width: 175px;
}

.nav-btn-close {
  display: none;
}

.mobile-nav-news,
.mobile-nav-support,
.mobile-nav-who-we-serve,
.mobile-nav-products,
.mobile-nav-company,
.mobile-nav {
  position: fixed;
  height: 100vh;
  top: -100vh;
  right: 0;
  width: 100vw;
  overflow: auto;
  margin: 0;
  transition: 0.5s;
  background-color: #ffffff;
  z-index: 125;
}
.mobile-nav-news .submenu-link,
.mobile-nav-support .submenu-link,
.mobile-nav-who-we-serve .submenu-link,
.mobile-nav-products .submenu-link,
.mobile-nav-company .submenu-link,
.mobile-nav .submenu-link {
  background: no-repeat;
  border: none;
  padding: 0 30px;
  color: #444444;
  text-decoration: none;
}
.mobile-nav-news .submenu-link:hover, .mobile-nav-news .submenu-link:active,
.mobile-nav-support .submenu-link:hover,
.mobile-nav-support .submenu-link:active,
.mobile-nav-who-we-serve .submenu-link:hover,
.mobile-nav-who-we-serve .submenu-link:active,
.mobile-nav-products .submenu-link:hover,
.mobile-nav-products .submenu-link:active,
.mobile-nav-company .submenu-link:hover,
.mobile-nav-company .submenu-link:active,
.mobile-nav .submenu-link:hover,
.mobile-nav .submenu-link:active {
  color: #0079C7;
}

.mobile-nav-active .mobile-nav {
  right: 0;
  transition: 0.5s;
  top: 75px;
}
.mobile-nav-active .nav-btn-open {
  display: none;
}
.mobile-nav-active .nav-btn-close {
  display: block;
}

.mobile-nav-who-we-serve-active .mobile-nav-who-we-serve {
  right: 0;
  transition: 0.5s;
  top: 75px;
}
.mobile-nav-who-we-serve-active .nav-btn-open {
  display: none;
}
.mobile-nav-who-we-serve-active .nav-btn-close {
  display: block;
}

.mobile-nav-products-active .mobile-nav-products {
  right: 0;
  transition: 0.5s;
  top: 75px;
}
.mobile-nav-products-active .nav-btn-open {
  display: none;
}
.mobile-nav-products-active .nav-btn-close {
  display: block;
}

.mobile-nav-news-active .mobile-nav-news {
  right: 0;
  transition: 0.5s;
  top: 75px;
}
.mobile-nav-news-active .nav-btn-open {
  display: none;
}
.mobile-nav-news-active .nav-btn-close {
  display: block;
}

.mobile-nav-support-active .mobile-nav-support {
  right: 0;
  transition: 0.5s;
  top: 75px;
}
.mobile-nav-support-active .nav-btn-open {
  display: none;
}
.mobile-nav-support-active .nav-btn-close {
  display: block;
}

.mobile-nav-company-active .mobile-nav-company {
  right: 0;
  transition: 0.5s;
  top: 75px;
}
.mobile-nav-company-active .nav-btn-open {
  display: none;
}
.mobile-nav-company-active .nav-btn-close {
  display: block;
}

.nav-btn-close,
.nav-btn-open,
.nav-btn-open-state {
  font-size: 1.65rem;
  color: #444444;
}

.mobile-nav-row {
  height: 75px;
  background-color: #ffffff;
  border-bottom: 1px solid #CECECE;
}

.remove-mobile-nav-button {
  background-color: transparent;
  border: none;
  color: #444444;
  padding: 0;
}
.remove-mobile-nav-button svg {
  color: #0079C7;
}

.recipe1-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100vh;
}

.recipes-icons {
  font-size: 2rem;
}

.ingredients-content ul {
  -moz-column-count: 2;
       column-count: 2;
}
.ingredients-content ul li {
  list-style-type: disc;
}

@media print {
  header, footer, aside, form {
    display: none;
  }
  body {
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
  @page {
    margin: 0;
    padding: 0;
    size: 8.5in 11in;
  }
  .site-container-1240 {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  h1,
  .h1-heading {
    font-size: calc(16px * 2) !important;
  }
}/*# sourceMappingURL=site.css.map */