{{ $title := .Params.title }}
{{ $type := .Params.type }}
{{ $intro := .Params.intro }}
{{ $prepTime := .Params.prep_time }}
{{ $cookTime := .Params.cook_time }}
{{ $serves := .Params.serves }}
{{ $ingredients := .Params.ingredients }}
{{ $directions := .Params.directions }}
{{ $notes := .Params.notes }}
{{ $images := .Params.images }}

<article class="recipe">
    <h2>{{ .Title }}</h2>
    <p class="type">{{ $type }}</p>
    <p class="intro">{{ $intro }}</p>
    <ul class="info">
      <li class="prep-time"><span class="label">Prep Time:</span> {{ $prepTime }} minutes</li>
      <li class="cook-time"><span class="label">Cook Time:</span> {{ $cookTime }} minutes</li>
      <li class="serves"><span class="label">Serves:</span> {{ $serves }}</li>
    </ul>
    <h3>Ingredients</h3>

    {{ $ingredients  | markdownify  }}
    
    <h3>Directions</h3>
    {{ $directions  | markdownify  }}
   
    <p class="notes">{{ $notes }}</p>
    {{ with $images }}
      <div class="images">
        {{ range . }}
          <figure>
            <img src="{{ .image }}" alt="{{ with .caption }}{{ . }}{{ end }}" />
            {{ with .caption }}<figcaption>{{ . }}</figcaption>{{ end }}
          </figure>
        {{ end }}
      </div>
    {{ end }}
</article> 

++++++++++++++++++++++++++++++
